<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoeManagement"
        tools:targetApi="31">


        <activity android:name=".activities.MainActivity" />

        <!--Các Activity của Admin-->
        <activity android:name=".activities.admin.AdminHome" />
        <!--Các Activity của Admin-->

        <!--Các Activity của User-->
        <activity android:name=".activities.user.UserHome" />
        <activity android:name=".activities.user.CategoryActivity" />
        <activity android:name=".activities.user.ShoesActivity" />
        <activity android:name=".activities.user.ShoesDetailActivity" />
        <activity android:name=".activities.user.BillsActivity" />
        <activity android:name=".activities.user.CartActivity" />
        <!--Các Activity của User-->

        <!--Activity dùng chung-->
        <activity android:name=".activities.RegisterActivity" />

        <!--Khi khởi động chương trình sẽ vào Activity Login trước-->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>